<div class="row">
    <div class="col-xl-12">
        <ol class="breadcrumb">
            <li *ngFor="let header of path; let i=index" class="breadcrumb-item" [class.active]="i == path.length-1">
                <i class="fa {{header.icon}}"></i>
                <a *ngIf="header.link != null" [routerLink]="header.link" [queryParams]="header.queryParams">{{header.title}}</a>
                <span *ngIf="header.link == null">{{header.title}}</span>
            </li>
        </ol>
    </div>
</div>
