<div class="row">
    <div class="col-xl-12">
        <h2 class="page-header">
            {{header.title}}
        </h2>
        <ol class="breadcrumb">
            <li *ngFor="let head of path" class="breadcrumb-item" [class.active]="head.id === header.id">
                <i class="fa {{head.icon}}"></i>
                <a *ngIf="head.id !== header.id" [routerLink]="head.link">{{head.title}}</a>
                <a *ngIf="head.id === header.id">{{head.title}}</a>
            </li>
        </ol>
    </div>
</div>
