<ng-template #newColumnRow>
    <div class="row px-2 py-1 justify-content-center">
        <div class="form-inline my-1">
            <input type="text" placeholder="Column name" class="form-control form-control-sm col-xs-3 col-sm-3 col-lg-2 mr-2" #newColName>
            <input type="text" placeholder="Column type" class="form-control form-control-sm col-xs-3 col-sm-3 col-lg-2 mr-2" #newColType>
            <input type="text" placeholder="Default value" class="form-control form-control-sm col-xs-3 col-sm-3 col-lg-2 mr-2" #newColDefault>
            <div class="input-group col-lg-2">
                <div class="form-group justify-content-start flex-column">
                    <label class="form-check-label xsmall-text" ngbTooltip="Primary Key">PK</label>
                    <input type="checkbox" class="form-check-input ml-1" #newColPK>
                </div>
                <div class="form-group justify-content-start flex-column">
                    <label class="form-check-label xsmall-text" ngbTooltip="Unique">UQ</label>
                    <input type="checkbox" class="form-check-input ml-1" #newColUQ>
                </div>
                <div class="form-group justify-content-start flex-column">
                    <label class="form-check-label xsmall-text" ngbTooltip="Nullable">NUL</label>
                    <input type="checkbox" class="form-check-input ml-1" checked #newColNUL>
                </div>
                <div class="form-group justify-content-start flex-column">
                    <label class="form-check-label xsmall-text" ngbTooltip="Auto Increment">AI</label>
                    <input type="checkbox" class="form-check-input ml-1" #newColAI>
                </div>
            </div>
            <div class="form-group align-content-end">
                <button type="button" class="btn btn-info btn-sm"
                        (click)="addColumn(newColName, newColType, newColDefault, newColPK, newColUQ, newColNUL, newColAI)">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>
</ng-template>

<div class="modal-header">
    <h4 class="modal-title">Alter Table...</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form class="p-4" [formGroup]="alterTableForm">
        <div class="form-group row">
            <label for="table-name" class="col-form-label col-sm-4">Table Name:</label>
            <div class="col-sm-8">
                <input id="table-name" type="text" class="form-control" formControlName="tableName">
            </div>
        </div>
        <div class="col-form-label">Column Definitions:</div>
        <div class="row px-2 py-1 justify-content-center" formArrayName="columns">
            <div *ngFor="let column of formColumns.controls; let i=index" [formGroupName]="i">
                <div *ngIf="!column.value.deleted" class="form-inline my-1">
                    <input type="text" placeholder="Column name" class="form-control form-control-sm col-xs-3 col-sm-3 col-lg-2 mr-2" formControlName="name">
                    <input type="text" placeholder="Column type" class="form-control form-control-sm col-xs-3 col-sm-3 col-lg-2 mr-2" formControlName="columnType">
                    <input type="text" placeholder="Default value" class="form-control form-control-sm col-xs-3 col-sm-3 col-lg-2 mr-2" formControlName="defaultValue">
                    <div class="input-group col-lg-2">
                        <div class="form-group justify-content-start flex-column">
                            <label class="form-check-label xsmall-text" ngbTooltip="Primary Key">PK</label>
                            <input type="checkbox" class="form-check-input ml-1" formControlName="primaryKey">
                        </div>
                        <div class="form-group justify-content-start flex-column">
                            <label class="form-check-label xsmall-text" ngbTooltip="Unique">UQ</label>
                            <input type="checkbox" class="form-check-input ml-1" formControlName="unique">
                        </div>
                        <div class="form-group justify-content-start flex-column">
                            <label class="form-check-label xsmall-text" ngbTooltip="Nullable">NUL</label>
                            <input type="checkbox" class="form-check-input ml-1" formControlName="nullable">
                        </div>
                        <div class="form-group justify-content-start flex-column">
                            <label class="form-check-label xsmall-text" ngbTooltip="Auto Increment">AI</label>
                            <input type="checkbox" class="form-check-input ml-1" formControlName="autoIncrement">
                        </div>
                    </div>
                    <div class="form-group align-content-end">
                        <button type="button" class="btn btn-danger btn-sm" (click)="removeColumn(i)"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <hr class="divider"/>
            <ng-template [ngTemplateOutlet]="newColumnRow"></ng-template>
        </div>
        <div class="col-form-label">Foreign Keys:</div>
        <div class="row p-2 justify-content-center table-responsive" formArrayName="constraints">
            <table class="table table-sm m-0">
                <thead>
                <tr class="small-text">
                    <th>Constraint Name</th>
                    <th>Column</th>
                    <th>References</th>
                    <th>ON_UPDATE</th>
                    <th>ON_DELETE</th>
                    <th>Operations</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let fkey of formConstraints.controls; let i=index" [formGroupName]="i" class="small-text">
                    <ng-template [ngIf]="!fkey.value.deleted">
                        <td>{{fkey.value.constraintName}}</td>
                        <td>{{fkey.value.column}}</td>
                        <td>{{concatSchemaTableColumn(fkey.value.refSchema, fkey.value.refTable, fkey.value.refColumn)}}</td>
                        <td>{{fkey.value.updateRule}}</td>
                        <td>{{fkey.value.deleteRule}}</td>
                        <td class="d-flex justify-content-end">
                            <button type="button" class="btn btn-danger btn-sm" (click)="removeForeignKey(i)"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </td>
                    </ng-template>
                </tr>
                <tr>
                    <td><input type="text" class="form-control form-control-sm small-text" #newKeyName></td>
                    <td><input type="text" class="form-control form-control-sm small-text" #newKeyColName></td>
                    <td>
                        <input type="text" class="form-control form-control-sm small-text" placeholder="<schema>.<table>(<col>)" #newKeyRef>
                    </td>
                    <td>
                        <select class="form-control form-control-sm small-text" #newKeyUpdate>
                            <option *ngFor="let opt of CASCADE_OPTIONS" [value]="opt">{{opt}}</option>
                        </select>
                    </td>
                    <td>
                        <select class="form-control form-control-sm small-text" #newKeyDelete>
                            <option *ngFor="let opt of CASCADE_OPTIONS" [value]="opt">{{opt}}</option>
                        </select>
                    </td>
                    <td class="d-flex justify-content-end">
                        <button type="button" class="btn btn-info btn-sm"
                                (click)="addForeignKey(newKeyName, newKeyColName, newKeyRef, newKeyUpdate, newKeyDelete)">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-form-label">Indexes:</div>
        <div class="row p-2 justify-content-center table-responsive" formArrayName="indexes">
            <table class="table table-sm m-0">
                <thead>
                <tr class="small-text">
                    <th>Index Name</th>
                    <th>Column</th>
                    <th>Unique</th>
                    <th>Nullable</th>
                    <th>Operations</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let ind of formIndexes.controls; let i=index" [formGroupName]="i" class="small-text">
                    <ng-template [ngIf]="!ind.value.deleted">
                        <td>{{ind.value.indexName}}</td>
                        <td>{{concatSchemaTableColumn(ind.value.schema, ind.value.table, ind.value.column)}}</td>
                        <td>{{ind.value.unique}}</td>
                        <td>{{ind.value.nullable}}</td>
                        <td class="d-flex justify-content-end">
                            <button type="button" class="btn btn-danger btn-sm" [disabled]="ind.value.indexName == 'PRIMARY'" (click)="removeIndex(i)"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </td>
                    </ng-template>
                </tr>
                <tr>
                    <td><input type="text" class="form-control form-control-sm small-text" #newIndexName></td>
                    <td><input type="text" class="form-control form-control-sm small-text" placeholder="<schema>.<table>(<col>)" #newIndexRef></td>
                    <td><input type="checkbox" class="form-control form-control-sm" #newIndexUnique></td>
                    <td><input type="checkbox" class="form-control form-control-sm" checked #newIndexNullable></td>
                    <td class="d-flex justify-content-end">
                        <button type="button" class="btn btn-info btn-sm" (click)="addIndex(newIndexName, newIndexRef, newIndexUnique, newIndexNullable)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="submit()">Submit</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
