<div class="card-header">
    <h4 class="card-title">Create Trigger...</h4>
</div>
<div class="card-body">
    <form class="p-4" [formGroup]="createTriggerForm">
        <div class="form-group row">
            <label for="trigger-name" class="col-form-label col-sm-2">Trigger Name:</label>
            <div class="col-sm-6">
                <input id="trigger-name" type="text" class="form-control" formControlName="triggerName">
            </div>
        </div>
        <div class="form-group row">
            <label for="trigger-timing" class="col-form-label col-sm-2">Timing:</label>
            <div class="col-sm-6">
                <select id="trigger-timing" type="text" class="form-control" formControlName="triggerTiming">
                    <option *ngFor="let timing of TIMINGS" [selected]="timing === 'BEFORE'">{{timing}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="trigger-event" class="col-form-label col-sm-2">Event:</label>
            <div class="col-sm-6">
                <select id="trigger-event" type="text" class="form-control" formControlName="triggerEvent">
                    <option *ngFor="let event of EVENTS" [selected]="event === 'INSERT'">{{event}}</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="trigger-event-target" class="col-form-label col-sm-2">Target:</label>
            <div class="col-sm-6">
                <input id="trigger-event-target" placeholder="<schema>.<object>" type="text" class="form-control" formControlName="triggerEventTarget">
            </div>
        </div>
        <div class="form-group row">
            <label for="trigger-body" class="col-form-label col-sm-2">Trigger Body:</label>
            <div class="col-sm-6">
                <textarea id="trigger-body" class="form-control" formControlName="triggerBody" rows="10" spellcheck="false"></textarea>
            </div>
        </div>
    </form>
</div>
<div class="card-footer">
    <button type="button" class="btn btn-outline-dark" (click)="submit()">Submit</button>
</div>
