.col-form-label {
    text-transform: uppercase;
    font-weight: 600;
}

.small-text {
    font-size: 0.8em;
}

.xsmall-text {
    font-size: 0.6em;
}

.divider {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
