<div [@routerTransition]>
    <div class="row">
        <div class="col col-lg-12">
            <div class="card mb-3">
                <ngb-tabset>
                    <ngb-tab title="Rows">
                        <ng-template ngbTabContent>
                            <div class="card-header d-flex justify-content-end">
                                <button type="submit" class="btn btn-success" [disabled]="rowForm.pristine" (click)="onSubmit()">Save</button>
                            </div>
                            <form [formGroup]="rowForm">
                                <div class="table-responsive">
                                    <table class="card-body table table-bordered m-0">
                                        <thead>
                                        <tr>
                                            <th *ngFor="let col of columns">{{col.name}}</th>
                                            <th class="operation-column"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let row of rows; let i=index" [formGroupName]="i" [class.deleted]="row.deleted">
                                            <td *ngFor="let col of columns">
                                                <input type="text" class="form-control form-control-sm" [formControlName]="col.name" [placeholder]="col.name">
                                            </td>
                                            <td>
                                                <button *ngIf="!row.deleted" type="button" class="btn btn-danger btn-sm" (click)="deleteRow(i)"><i class="fa fa-times" aria-hidden="true"></i></button>
                                                <button *ngIf="row.deleted" type="button" class="btn btn-warning btn-sm" (click)="undoDeleteRow(i)"><i class="fa fa-undo" aria-hidden="true"></i></button>
                                            </td>
                                        </tr>
                                        <tr class="new-row" formGroupName="newRow">
                                            <td *ngFor="let col of columns">
                                                <input type="text" class="form-control form-control-sm" [formControlName]="col.name" >
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-info btn-sm"
                                                        (click)="addRow()">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </form>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Columns">
                        <ng-template ngbTabContent>
                            <div class="table-responsive">
                                <table class="card-body table table-hover">
                                    <thead>
                                    <tr>
                                        <th *ngFor="let key of columns[0] | keys">{{key}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let col of columns">
                                        <td *ngFor="let key of col | keys">{{col[key]}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab *ngIf="metadata.type != 'VIEW'" title="Metadata">
                        <ng-template ngbTabContent>
                            <div class="table-responsive">
                                <table class="card-body table table-hover">
                                    <thead>
                                    <tr>
                                        <th *ngFor="let key of metadata | keys">{{key}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td *ngFor="let meta of metadata | values">{{meta}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>
