<div [@routerTransition]>
    <app-page-header [path]="pageHeaderPath"></app-page-header>
    <ngb-tabset [activeId]="activeTabId" type="pills" (tabChange)="beforeTabChange($event)">
        <ngb-tab id="tab-tables" title="Tables">
            <ng-template ngbTabContent>
                <div class="row">
                    <div class="col col-lg-12">
                        <div class="card mb-3">
                            <div class="card-header d-flex">
                                <div class="ml-auto">
                                    <a class="btn btn-info new-table" [routerLink]="['/table/create']" [queryParams]="{schema: schema}">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <small>NEW</small>
                                    </a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="card-body table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Engine</th>
                                        <th>Creation Date</th>
                                        <th>Collation</th>
                                        <th class="operation-column"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let table of tables">
                                        <ng-template [ngIf]="table.type === 'BASE TABLE'">
                                            <th scope="row"><a [routerLink]="['/table']" [queryParams]="{schema: schema, table: table.name}">{{table.name}}</a></th>
                                            <td>{{table.engine}}</td>
                                            <td>{{table.creationDate}}</td>
                                            <td>{{table.collation}}</td>
                                            <td class="d-flex justify-content-end">
                                                <button class="btn btn-info" [routerLink]="['/table/alter']" [queryParams]="{schema: schema, table: table.name}">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </button>
                                                <button class="btn btn-danger" (click)="dropTable(table)">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </ng-template>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-views" title="Views">
            <ng-template ngbTabContent>
                <div class="row">
                    <div class="col col-lg-12">
                        <div class="card mb-3">
                            <div class="card-header d-flex">
                                <div class="ml-auto">
                                    <a class="btn btn-info new-table" [routerLink]="['/view/create']" [queryParams]="{schema: schema}">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <small>NEW</small>
                                    </a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="card-body table table-hover">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th class="operation-column"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let view of tables">
                                        <ng-template [ngIf]="view.type === 'VIEW'">
                                            <th scope="row"><a [routerLink]="['/view']" [queryParams]="{schema: schema, view: view.name}">{{view.name}}</a></th>
                                            <td class="d-flex justify-content-end">
                                                <button class="btn btn-info" [routerLink]="['/view/alter']" [queryParams]="{schema: schema, view: view.name}">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </button>
                                                <button class="btn btn-danger" (click)="dropView(view)">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </ng-template>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-triggers" title="Triggers">
            <ng-template ngbTabContent>
                <div class="row">
                    <div class="col col-lg-12">
                        <div class="card mb-3">
                            <div class="card-header d-flex">
                                <div class="ml-auto">
                                    <a class="btn btn-info new-table" [routerLink]="['/trigger/create']" [queryParams]="{schema: schema}">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <small>NEW</small>
                                    </a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="card-body table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Timing</th>
                                        <th>Trigger on:</th>
                                        <th>Target</th>
                                        <th>Body</th>
                                        <th>Creation Date</th>
                                        <th class="operation-column"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let trigger of triggers">
                                        <th scope="row"><a [routerLink]="['/trigger']" [queryParams]="{schema: schema, trigger: trigger.name}">{{trigger.name}}</a></th>
                                        <td>{{trigger.timing}}</td>
                                        <td>{{trigger.eventType}}</td>
                                        <td>{{trigger.eventSchema + "." + trigger.eventTable}}</td>
                                        <td class="long-text-col">
                                            <ng-template #triggerCodeTemplate let-c="close" let-d="dismiss">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Trigger code</h4>
                                                    <button type="button" class="close" aria-label="Close" (click)="d()">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <pre>{{trigger.triggerBody}}</pre>
                                                </div>
                                            </ng-template>
                                            <div class="fade-in-ellipse">
                                                <button class="btn btn-outline-trans btn-block fade-in-ellipse-text" (click)="showCodeModal(triggerCodeTemplate)"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                            </div>
                                            <span>{{trigger.triggerBody}}</span>
                                        </td>
                                        <td>{{trigger.createdAt}}</td>
                                        <td class="d-flex justify-content-center">
                                            <button class="btn btn-danger" (click)="dropTrigger(trigger)">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-procedures" title="Procedures">
            <ng-template ngbTabContent>
                <div class="row">
                    <div class="col col-lg-12">
                        <div class="card mb-3">
                            <div class="card-header d-flex">
                                <div class="ml-auto">
                                    <a class="btn btn-info new-table" [routerLink]="['/procedure/create']" [queryParams]="{schema: schema}">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <small>NEW</small>
                                    </a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="card-body table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Return Type</th>
                                        <th>Body</th>
                                        <th>Last Modified</th>
                                        <th class="operation-column"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let procedure of procedures">
                                        <ng-template [ngIf]="procedure.returnType == null || procedure.returnType == ''">
                                            <th scope="row"><a [routerLink]="['/procedure']" [queryParams]="{schema: schema, procedure: procedure.name}">{{procedure.name}}</a></th>
                                            <td>{{procedure.returnType}}</td>
                                            <td class="long-text-col">
                                                <ng-template #procedureCodeTemplate let-c="close" let-d="dismiss">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Procedure code</h4>
                                                        <button type="button" class="close" aria-label="Close" (click)="d()">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <pre>{{procedure.body}}</pre>
                                                    </div>
                                                </ng-template>
                                                <div class="fade-in-ellipse">
                                                    <button class="btn btn-outline-trans btn-block fade-in-ellipse-text" (click)="showCodeModal(procedureCodeTemplate)"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                </div>
                                                <span>{{procedure.body}}</span>
                                            </td>
                                            <td>{{procedure.modified}}</td>
                                            <td class="d-flex justify-content-center">
                                                <button class="btn btn-danger" (click)="dropProcedure(procedure)">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </ng-template>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-functions" title="Functions">
            <ng-template ngbTabContent>
                <div class="row">
                    <div class="col col-lg-12">
                        <div class="card mb-3">
                            <div class="card-header d-flex">
                                <div class="ml-auto">
                                    <a class="btn btn-info new-table" [routerLink]="['/procedure/create']" [queryParams]="{schema: schema}">
                                        <i class="fa fa-plus" aria-hidden="true"></i>
                                        <small>NEW</small>
                                    </a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="card-body table">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Return Type</th>
                                        <th>Body</th>
                                        <th>Last Modified</th>
                                        <th class="operation-column"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let procedure of procedures">
                                        <ng-template [ngIf]="procedure.returnType != null && procedure.returnType != ''">
                                            <th scope="row"><a [routerLink]="['/procedure']" [queryParams]="{schema: schema, procedure: procedure.name}">{{procedure.name}}</a></th>
                                            <td>{{procedure.returnType}}</td>
                                            <td class="long-text-col">
                                                <ng-template #procedureCodeTemplate let-c="close" let-d="dismiss">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Procedure code</h4>
                                                        <button type="button" class="close" aria-label="Close" (click)="d()">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <pre>{{procedure.body}}</pre>
                                                    </div>
                                                </ng-template>
                                                <div class="fade-in-ellipse">
                                                    <button class="btn btn-outline-trans btn-block fade-in-ellipse-text" (click)="showCodeModal(procedureCodeTemplate)"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
                                                </div>
                                                <span>{{procedure.body}}</span>
                                            </td>
                                            <td>{{procedure.modified}}</td>
                                            <td class="d-flex justify-content-center">
                                                <button class="btn btn-danger" (click)="dropProcedure(procedure)">
                                                    <i class="fa fa-times" aria-hidden="true"></i>
                                                </button>
                                            </td>
                                        </ng-template>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab id="tab-custom" title="Custom..."></ngb-tab>
    </ngb-tabset>
</div>
