<div [@routerTransition]>
    <div class="row">
        <div class="col col-lg-12">
            <div class="card mb-3">
                <div class="card-header d-flex">
                    <div>Tables</div>
                    <div class="ml-auto">
                        <button class="btn btn-info new-table" (click)="createTableModal(schema)">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <small>NEW</small>
                        </button>
                    </div>
                </div>
                <table class="card-body table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Engine</th>
                        <th>Creation Date</th>
                        <th>Collation</th>
                        <th class="operation-column"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let table of tables$ | async">
                        <th scope="row"><a [routerLink]="['/table', table.name]" [queryParams]="{schema: schema}">{{table.name}}</a></th>
                        <td>{{table.type}}</td>
                        <td>{{table.engine}}</td>
                        <td>{{table.creationDate}}</td>
                        <td>{{table.collation}}</td>
                        <td class="d-flex justify-content-center">
                            <button class="btn btn-info" (click)="alterTableModal(table)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button class="btn btn-danger" (click)="dropTableModal(table)">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
