<div class="container-fluid connection-form-container p-0 mt-4">
  <span>jdbc:mysql://localhost:3306/webdb</span>
  <form (ngSubmit)="connectionAuth()" #connectionForm="ngForm" class="p-4" autocomplete="off">
    <div class="form-group row">
      <label class="col-form-label col-sm-4" for="urlInput">URL</label>
      <div class="col-sm-8">
        <input [(ngModel)]="connAuth.url" #urlInput="ngModel" type="url" class="form-control" id="urlInput" name="urlInput"
               placeholder="http://example.com:8080" required autocomplete="off"
               [class.has-error]="urlInput.invalid && (urlInput.dirty || urlInput.touched)">
        <div *ngIf="urlInput.invalid && (urlInput.dirty || urlInput.touched)" class="error-block">
          <small *ngIf="urlInput.errors.required">
            URL is required!
          </small>
          <small *ngIf="urlInput.errors.pattern && !urlInput.errors.required">
            Invalid URL!
          </small>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="userInput" class="col-form-label col-sm-4">Username</label>
      <div class="col-sm-8">
        <input [(ngModel)]="connAuth.username" #userInput="ngModel" type="text" class="form-control" id="userInput" name="userInput"
               placeholder="Username" required autocomplete="off"
               [class.has-error]="userInput.invalid && (userInput.dirty || userInput.touched)">
        <div *ngIf="userInput.invalid && (userInput.dirty || userInput.touched)" class="error-block">
          <small *ngIf="userInput.errors.required">
            Username is required!
          </small>
        </div>
      </div>
    </div>
    <input type="text" class="prevent-autocomplete" disabled/>
    <input type="password" class="prevent-autocomplete" disabled/>
    <div class="form-group row">
      <label for="passwordInput" class="col-form-label col-sm-4" >Password</label>
      <div class="col-sm-8">
        <input [(ngModel)]="connAuth.password" #passwordInput="ngModel" type="password" class="form-control" id="passwordInput"
               name="passwordInput" placeholder="Password" required
               [class.has-error]="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)">
        <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="error-block">
          <small *ngIf="passwordInput.errors.required">
            Password is required!
          </small>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!connectionForm.form.valid">Submit</button>
  </form>
</div>

