<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <div class="list-group">
        <a *ngFor="let schema of schemas" [routerLink]="['/db']" [queryParams]="{schema: schema.name}" routerLinkActive="router-link-active" class="list-group-item">
            <i class="fa fa-fw fa-database"></i>&nbsp;{{schema.name}}
        </a>
        <div class="nested-menu">
            <a class="list-group-item" (click)="newDatabase()">
                <span><i class="fa fa-plus"></i>&nbsp; New</span>
            </a>
        </div>
    </div>
</nav>
