table {
    text-align: center;
}

thead tr th {
    border-bottom: 0;
}

.new-row td {
    background-color: #FFFFE0;
}

.new-row input, .new-row select {
    background-color: #f0eab8;
}

.new-row input[disabled], .new-row select[disabled] {
    background-color: #dfdb9a;
}
