<ng-template #newColumnRow>
    <tr class="new-row" [class.invalid-group]="newColumnValidateMessage != null">
        <td><input type="text" placeholder="Column name" class="form-control form-control-sm" #newColName></td>
        <td>
            <input list="type_list_new" type="text" placeholder="Column type" class="form-control form-control-sm" #newColType>
            <datalist id="type_list_new">
                <option *ngFor="let type of types">{{type}}</option>
            </datalist>
        </td>
        <td><input type="text" placeholder="Default value" class="form-control form-control-sm" #newColDefault></td>
        <td class="m-0">
            <div class="input-group justify-content-center border-0">
                <div class="d-flex justify-content-center flex-column col-sm-3 col-lg-2">
                    <label class="xsmall-text m-0" ngbTooltip="Primary Key">PK</label>
                    <input type="checkbox" class="m-0" #newColPK>
                </div>
                <div class="d-flex justify-content-center flex-column col-sm-3 col-lg-2">
                    <label class="xsmall-text m-0" ngbTooltip="Unique">UQ</label>
                    <input type="checkbox" class="m-0" #newColUQ>
                </div>
                <div class="d-flex justify-content-center flex-column col-sm-3 col-lg-2">
                    <label class="xsmall-text m-0" ngbTooltip="Nullable">NUL</label>
                    <input type="checkbox" class="m-0" #newColNUL>
                </div>
                <div class="d-flex justify-content-center flex-column col-sm-3 col-lg-2">
                    <label class="xsmall-text m-0" ngbTooltip="Auto Increment">AI</label>
                    <input type="checkbox" class="m-0" #newColAI>
                </div>
            </div>
        </td>
        <td>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-info btn-sm"
                        (click)="addColumn(newColName, newColType, newColDefault, newColPK, newColUQ, newColNUL, newColAI)">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
            </div>
        </td>
    </tr>
    <tr *ngIf="newColumnValidateMessage != null" class="text-danger d-flex justify-content-start m-0 p-0">
        <td colspan="5">
            <div class="xsmall-text">{{newColumnValidateMessage}}</div>
        </td>
    </tr>
</ng-template>

<app-page-header [path]="pageHeaderPath"></app-page-header>
<div class="card-header">
    <h4 class="card-title">Create Table...</h4>
</div>
<div class="card-body">
    <form class="p-4" [formGroup]="createTableForm">
        <div class="form-group row">
            <label for="table-name" class="col-form-label col-sm-2">Table Name:</label>
            <div class="col-sm-10 col-lg-8">
                <input id="table-name" type="text" class="form-control" formControlName="tableName" [class.invalid]="!createTableForm.get('tableName').valid && !createTableForm.get('tableName').pristine">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-form-label col-sm-2">Column Definitions:</div>
            <div class="justify-content-center table-responsive col-sm-10 col-lg-8" formArrayName="columns">
                <table class="table table-sm m-0">
                    <thead>
                    <tr class="small-text">
                        <th>Column Name</th>
                        <th>Column Type</th>
                        <th>Default value</th>
                        <th>Flags</th>
                        <th class="operation-column"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let column of formColumns.controls; let i=index" [formGroupName]="i">
                        <td><input type="text" class="form-control form-control-sm" [class.invalid]="!column.get('name').valid" formControlName="name"></td>
                        <td>
                            <input list="type_list" type="text" class="form-control form-control-sm" [class.invalid]="!column.get('columnType').valid" formControlName="columnType">
                            <datalist id="type_list">
                                <option *ngFor="let type of types">{{type}}</option>
                            </datalist>
                        </td>
                        <td><input type="text" class="form-control form-control-sm" formControlName="defaultValue"></td>
                        <td class="row m-0">
                            <div class="input-group justify-content-center">
                                <div class="d-flex justify-content-center flex-column col-sm-3 col-lg-2">
                                    <label class="xsmall-text m-0" ngbTooltip="Primary Key">PK</label>
                                    <input type="checkbox" class="m-0" formControlName="primaryKey">
                                </div>
                                <div class="d-flex justify-content-center flex-column col-sm-3 col-lg-2">
                                    <label class="xsmall-text m-0" ngbTooltip="Unique">UQ</label>
                                    <input type="checkbox" class="m-0" formControlName="unique">
                                </div>
                                <div class="d-flex justify-content-center flex-column col-sm-3 col-lg-2">
                                    <label class="xsmall-text m-0" ngbTooltip="Nullable">NUL</label>
                                    <input type="checkbox" class="m-0" formControlName="nullable">
                                </div>
                                <div class="d-flex justify-content-center flex-column col-sm-3 col-lg-2">
                                    <label class="xsmall-text m-0" ngbTooltip="Auto Increment">AI</label>
                                    <input type="checkbox" class="m-0" formControlName="autoIncrement">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-danger btn-sm" (click)="removeColumn(i)"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>
                        </td>
                    </tr>
                    <ng-template [ngTemplateOutlet]="newColumnRow"></ng-template>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-form-label col-sm-2">Foreign Keys:</div>
            <div class="justify-content-center table-responsive col-sm-10 col-lg-8" formArrayName="constraints">
                <table class="table table-sm m-0">
                    <thead>
                    <tr class="small-text">
                        <th>Constraint Name</th>
                        <th>Column</th>
                        <th>References</th>
                        <th>ON_UPDATE</th>
                        <th>ON_DELETE</th>
                        <th>Operations</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let fkey of formConstraints.controls; let i=index" [formGroupName]="i" class="small-text">
                        <td>{{fkey.value.constraintName}}</td>
                        <td>
                            <select class="form-control form-control-sm" [class.disabled]="formColumns.controls.length == 0">
                                <option *ngFor="let col of formColumns.controls" [value]="col.value.name">{{col.value.name}}</option>
                            </select>
                        </td>
                        <td>{{concatSchemaTableColumn(fkey.value.refSchema, fkey.value.refTable, fkey.value.refColumn)}}</td>
                        <td>{{fkey.value.updateRule}}</td>
                        <td>{{fkey.value.deleteRule}}</td>
                        <td class="d-flex justify-content-end">
                            <button type="button" class="btn btn-danger btn-sm" (click)="removeForeignKey(i)"><i class="fa fa-times" aria-hidden="true"></i></button>
                        </td>
                    </tr>
                    <tr class="new-row" [class.invalid-group]="newForeignKeyValidateMessage != null">
                        <td><input type="text" class="form-control form-control-sm small-text" #newKeyName></td>
                        <td>
                            <select class="form-control form-control-sm small-text" [disabled]="formColumns.controls.length == 0" #newKeyColName>
                                <option *ngFor="let col of formColumns.controls" [value]="col.value.name">{{col.value.name}}</option>
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control form-control-sm small-text" placeholder="'schema'.'table'('col')" #newKeyRef>
                        </td>
                        <td>
                            <select class="form-control form-control-sm small-text" #newKeyUpdate>
                                <option *ngFor="let opt of CASCADE_OPTIONS" [value]="opt">{{opt}}</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-control form-control-sm small-text" #newKeyDelete>
                                <option *ngFor="let opt of CASCADE_OPTIONS" [value]="opt">{{opt}}</option>
                            </select>
                        </td>
                        <td class="d-flex justify-content-end">
                            <button type="button" class="btn btn-info btn-sm"
                                    (click)="addForeignKey(newKeyName, newKeyColName, newKeyRef, newKeyUpdate, newKeyDelete)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="newForeignKeyValidateMessage != null" class="text-danger d-flex justify-content-start m-0 p-0">
                        <td colspan="6">
                            <div class="xsmall-text">{{newForeignKeyValidateMessage}}</div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>
<div class="card-footer">
    <button [disabled]="!createTableForm.valid" type="button" class="btn btn-outline-dark" (click)="submit()">Submit</button>
</div>
