<app-page-header [path]="pageHeaderPath"></app-page-header>
<div class="card-header">
    <div class="row">
        <h4 class="card-title col-sm-10">Modify Trigger...</h4>
        <div class="col-sm-2 d-flex justify-content-center">
            <button [disabled]="!triggerForm.valid" type="button" class="btn btn-success" (click)="submit()">Save</button>
        </div>
    </div>
</div>
<div class="card-body">
    <form class="p-4" [formGroup]="triggerForm">
        <div class="form-group row">
            <label for="trigger-name" class="col-form-label col-sm-2">Trigger Name:</label>
            <div class="col-sm-6">
                <input id="trigger-name" type="text" class="form-control"
                       [class.invalid]="!getFormControl('triggerName').valid && !getFormControl('triggerName').pristine" formControlName="triggerName">
            </div>
            <div *ngIf="getFormControl('triggerName').hasError('required')" class="text-danger col-sm my-auto">
                <span>This field is required.</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="trigger-timing" class="col-form-label col-sm-2">Timing:</label>
            <div class="col-sm-6">
                <select id="trigger-timing" type="text" class="form-control" [class.invalid]="!getFormControl('triggerTiming').valid" formControlName="triggerTiming">
                    <option *ngFor="let timing of TIMINGS" [value]="timing">{{timing}}</option>
                </select>
            </div>
            <div *ngIf="getFormControl('triggerTiming').hasError('required')" class="text-danger col-sm my-auto">
                <span>This field is required.</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="trigger-event" class="col-form-label col-sm-2">Event:</label>
            <div class="col-sm-6">
                <select id="trigger-event" type="text" class="form-control" [class.invalid]="!getFormControl('triggerEvent').valid" formControlName="triggerEvent">
                    <option *ngFor="let event of EVENTS" [value]="event">{{event}}</option>
                </select>
            </div>
            <div *ngIf="getFormControl('triggerEvent').hasError('required')" class="text-danger col-sm my-auto">
                <span>This field is required.</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="trigger-event-target" class="col-form-label col-sm-2">Target:</label>
            <div class="col-sm-6">
                <input id="trigger-event-target" placeholder="<schema>.<object>" type="text" class="form-control"
                       [class.invalid]="!getFormControl('triggerEventTarget').valid && !getFormControl('triggerEventTarget').pristine" formControlName="triggerEventTarget">
            </div>
            <div *ngIf="getFormControl('triggerEventTarget').hasError('tableReference')" class="text-danger col-sm my-auto">
                {{getFormControl('triggerEventTarget').getError('tableReference').message}}
            </div>
        </div>
        <div class="form-group row">
            <label for="trigger-body" class="col-form-label col-sm-2">Trigger Body:</label>
            <div class="col-sm-6">
                <ngx-monaco-editor id="trigger-body" [options]="editorOptions" [class.invalid]="!getFormControl('triggerBody').valid" formControlName="triggerBody"></ngx-monaco-editor>
            </div>
            <div *ngIf="getFormControl('triggerBody').hasError('body')" class="text-danger col-sm my-auto">
                {{getFormControl('triggerBody').getError('body').message}}
            </div>
        </div>
    </form>
</div>
